<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <div class="row">
              <div id="error_div" class="col-sm-12" style="visibility:hidden">
                <div class="card"><
                  <div class="card-header">
                      <h5>Errors</h5>
                  </div>
                  <div class="card-body">
                    <p id="error_p" class="text-muted mb-4">esto es un error</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->
