{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Create new campaign</h5>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      {% include "includes/form_create.html" with action="new_campaign.html" title="Campaign data"%}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% if message %}
<script type="text/javascript">
  alert("{{message}}")
</script>
{% endif %}

<script type="text/javascript">
  $("input").on("input", function(){
    $(this).removeAttr("style")
  });

  $("input[type=range]").next().each(function (e){
    $(this).html($(this).prev().val() + " minutes")
  });
  $("input[type=range]").change(function(){
    $(this).next().html($(this).val() + " minutes")
  });
</script>

{% endblock javascripts %}
