{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->
            {% include "includes/filters.html" %}
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header">
                    <h5>Errors</h5>
                  </div>
                  <div class="card-body">
                    <canvas id="errorsChart" width="150" height="100"></canvas>
                  </div>
                  <!-- [ Main Content ] end -->
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-header">
                    <h5>Responses</h5>
                  </div>
                  <div class="card-body">
                    <canvas id="responseChart" width="150" height="100"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [ Main Content ] end -->

    {% endblock content %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}
    <script>

      /*$("#date-input").on("change", function(){
      $("#form_day").submit()
    });*/
    if ("{{form.campaign_id}}" != ""){
      $("#campaign_id option[value={{form.campaign_id}}]").attr('selected', 'selected');
    }
    if ("{{form.bot_phone}}" != ""){
      $("#bot_phone option[value={{form.bot_phone}}]").attr('selected', 'selected');
    }


    function make_chart(id, labels, data){
      var ctx = document.getElementById(id).getContext('2d');
      var errorsChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: labels,
          datasets: [{
            label: "a",
            data: data,
            backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    }

    // jquery function
    $(document).ready(function(){
      make_chart('errorsChart',   [{% for l in charts.error.labels%}'{{l}}',{%endfor%}],    {{charts.error.values}})
      make_chart('responseChart', [{% for l in charts.response.labels%}'{{l}}',{%endfor%}], {{charts.response.values}})
    });
  </script>
  {% endblock javascripts %}
