<div class="row">
  <div class="col-sm-6">
    <div class="card">

      <div class="card-header">
        <h5>Filters</h5>
      </div>
      <div class="card-body">
        <form id="form_day" enctype="multipart/form-data" method="get" action={{action}}>
          <div class="form-group">
            <input id="date_input" name="date_input" class="form-control" type="date"   value={{form.date_input}}>
          </div>
          <div class="form-group">
            <select id="campaign_id" name="campaign_id" class="mb-3 form-control" value=0>
              <option value="">All Campaigns</option>
              {% for i in campaigns %}
              <option value="{{i}}">Campaign {{i}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <select id="bot_phone" name="bot_phone" class="mb-3 form-control" value=0>
              <option value="">All Bots</option>
              {% for i in bots %}
              <option value="{{i}}">{{i}}</option>
              {% endfor %}
            </select>
          </div>
          <button id="send_form" type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
    </div>
    <!-- [ Main Content ] end -->
  </div>
</div>
